<!--
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>

-->
<!--Define a section in a master template that should be replaced by a section in a child template
<!DOCTYPE html>
<html>
<body>
<h1>Welcome</h1>

{% block userinfo %}
  <h2>Not registered yet</h2>
{% endblock %}

<p>Check out the two templates to see what they look like, and views.py to see the reference to the child template.</p>

</body>
</html>
-->