<!-- Printing Out the data from the server db in table format
<!DOCTYPE html>
<html>
<body>

<p>The queryset object:</p>
{{ mymembers }}

<p>Loop through the items:</p>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Joined_Date</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{x.phone}}</td>
      <td>{{x.joined_date}}</td>
    </tr>
  {% endfor %}
</table>

</body>
</html>
-->